#data
raw_data/
.csv
package_folder.egg-info
ndgain_raw.csv

# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
.python-version

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Test caches
.pytest_cache/
.coverage
htmlcov/

# macOS
.DS_Store

# Logs
*.log

# IDE (personal settings)
.vscode/
.idea/

# Credentials
service-account.json
credentials.json

#Python Version
.python-version
